@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:ital,wght@0,400;0,600;0,700;1,600&family=Prompt:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

@keyframes spin {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
body {
    background: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif;
        
    
}
.music-card {
    margin: 30px auto;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 500px;
}
.music-card > .image img {
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    height: 300px;
    width: 300px;
}
.music-card > .image:after {
    height: 100px;
    content: '';
    top: 200px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: linear-gradient(rgba(221, 65, 127, 0), #dd417f);
}
.music-card > .wave {
    position: absolute;
    height: 750px;
    width: 750px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -70%;
    margin-top: -130%;
    border-radius: 40%;
    background: radial-gradient(#b01de8, #f34235);
    animation: spin 3000ms infinite linear;
}
.music-card > .wave:nth-child(2) {
    top: 10px;
    animation: spin 4000ms infinite linear;
}
.music-card > .wave:nth-child(3) {
    top: 10px;
    animation: spin 5000ms infinite linear;
}
.music-card > .info {
    position: absolute;
    bottom: 25px;
    margin-top: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
.music-card > .info > .title {
    font-size: 1.3em;
    font-weight: 400;
 
    color: #333;
    margin-bottom: 8px;
}
.music-card > .info > .artist {
    
    color: #cfcfcf;
    font-size: 0.8em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
